<div class="game-container">
    <h1>Keep Up</h1>

    @if (gameState() !== GameState.GAME_OVER) {
        <div class="score-bar">
            <p>Score: {{ score() }}</p>
            <p>Lives: {{ lives() }}</p>
            <p>Time: {{ timeRemaining().toFixed(2) }}</p>
        </div>

        <div class="command-box">
            <h2>{{ currentCommand() }}</h2>
        </div>
    }
    
    <div class="camera-wrapper"
    [class.pop]="feedback() === 'success'"
    [class.shake]="feedback() === 'failure'">
        <video #video playsinline></video>

        @if (gameState() === GameState.COUNTDOWN) {
        <div class="countdown">
            <p>Get Ready!</p>
            <h2>{{ countdown() }}</h2>
        </div>
    }

    @if (feedback() === 'success') {
        <div class="feedback-overlay success">
            <h2>✓ CORRECT!</h2>
        </div>
    }

    @if (feedback() === 'failure') {
        <div class="feedback-overlay failure">
            <h2>✗ MISS!</h2>
        </div>
    }

    @if (streak() >= 3 && feedback() === 'success') {
        <div class="streak">
            {{ streak() }}x STREAK!
        </div>
    }
    </div>

    @if (gameState() === GameState.GAME_OVER) {
        <div class="game-over">
            <h2>Game Over</h2>
            <p>Score: {{ score() }}</p>
            <button (click)="resetGame()">Play Again</button>
        </div>
    } @else {
        <p class="detected">Detected: {{ detectedGesture() }}</p>

        <button 
        (click)="startGame()"
        [disabled]="gameState() === GameState.PLAYING">
        Start Game
    </button>
    }
</div>