@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
body {
    background: linear-gradient(
        0deg,
        rgb(95, 0, 0),
        rgb(0, 0, 0),
        rgb(0, 0, 95)
    );

    background-size: 100% 200%;
    animation: background-shift 6s ease-in-out infinite alternate;

    color: white;
    min-height: 100vh;
}

@keyframes background-shift {
    from {
        background-position: 0% 35%;
    }

    to {
        background-position: 0% 65%;
    }
}

.loading-dots {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.loading-dots span {
    width: 10px;
    height: 10px;
    background-color: #22d3ee;
    animation: bounce 0.6s infinite alternate;
}

.loading-dots span:nth-child(2) {
    animation-delay: 0.2s;
}

.loading-dots span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-8px);
    }
}